body {
    font-family: Georgia, serif;
    font-size: 18px;
  }
  .container {
    margin-top: 50px;
  }
  
  img {
    margin-bottom: 10px;
    border-radius: 10%;
    width: 350px
  }
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: #007bff;
  }
  
  a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  .connect {
    margin-top: 30px;
  }
  
  .connect h3 {
    margin-bottom: 20px;
  }
  
  header {
    margin-bottom: 40px;
  }
  
  body
   {
    background-image: url("https://media.istockphoto.com/id/1303182525/photo/abstract-background-white-light-blue-purple-color-gradient-defocused.jpg?s=170667a&w=0&k=20&c=GORbQXHp0vsVFrb8UhNIHKrSC5F3BjJmn3qVXFpcM78=");
    background-size: cover;
  } 