body {
    font-family: Georgia, serif;
    font-size: 18px;
    background-image: url("https://media.istockphoto.com/id/1303182525/photo/abstract-background-white-light-blue-purple-color-gradient-defocused.jpg?s=170667a&w=0&k=20&c=GORbQXHp0vsVFrb8UhNIHKrSC5F3BjJmn3qVXFpcM78=");
    background-size: cover;
 } 
  img {
    width: 600px;
    margin: 20px;
  }
  .image {
    display: flex;
    justify-content: space-between;
  }